<table class="table table-dark">|
    <thead>
        <tr>
            <th>#</th>
            <th>nombre</th>
            <th>Apellido</th>
            <th>Carrera</th>
            <th>Cargo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Yersson</td>
            <td>Sanchez</td>
            <td>Desarrollo de software</td>
            <td>Estudiante</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Pedro</td>
            <td>Alvares</td>
            <td>Conserjeria</td>
            <td>Conseje</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Maria</td>
            <td>Robles</td>
            <td>Filosofia</td>
            <td>Docente</td>
        </tr>
        <tr>
            <td>4</td>
            <td>rosa</td>
            <td>Romero</td>
            <td>Gastronomia</td>
            <td>Chef</td>
        </tr>
    </tbody>
</table>